* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  position: relative;
  width: 100%;
  height: 100dvh;
  padding-inline: 20px;

  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;

  &.grade {
    background: url(https://tse3.mm.bing.net/th/id/OIP.bbvWvjFPdec5bdNKSZ2cTgHaE8?rs=1&pid=ImgDetMain&o=7&rm=3)
      center/cover;
  }

  &.recharge {
    background: url(https://static.vecteezy.com/system/resources/thumbnails/008/920/564/small_2x/smartphone-with-blank-display-and-coins-stack-digital-wallet-shopping-mobile-app-gold-arrows-coinscashback-and-banking-money-saving-mock-up-empty-screen-copy-space-isolate-background-3d-render-photo.jpg)
      center/cover;
  }

  &.fuel {
    background: url(https://png.pngtree.com/thumb_back/fh260/background/20240909/pngtree-gas-station-at-sunset-with-fuel-pumps-and-a-beautiful-sky-image_16141098.jpg)
      center/cover;
  }

  &.exchange {
    background: url(https://plus.unsplash.com/premium_photo-1741072497758-78c578fead00?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Y3VycmVuY3klMjBleGNoYW5nZXxlbnwwfHwwfHx8MA%3D%3D)
      center/cover;
  }

  * {
    z-index: 5;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.7);
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }

  &.grade {
    &::after {
      background: url(./images/graduation-cap-solid-full.svg) center/700px
        no-repeat;
      @media (max-width: 767px) {
        background-size: 100%;
      }
    }
  }

  &.recharge {
    &::after {
      background: url(./images/mobile-vibrate-solid-full.svg) center/700px
        no-repeat;
      @media (max-width: 767px) {
        background-size: 100%;
      }
    }
  }

  &.fuel {
    &::after {
      background: url(./images/gas-pump-solid-full.svg) center/700px no-repeat;
      @media (max-width: 767px) {
        background-size: 100%;
      }
    }
  }

  &.exchange {
    &::after {
      background: url(./images/coins-solid-full.svg) center/700px no-repeat;
      @media (max-width: 767px) {
        background-size: 100%;
      }
    }
  }

  p {
    text-align: center;
    font-size: 36px;
    font-family: cursive;
    color: white;
    /* background-color: black; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

    @media (max-width: 575px) {
      font-size: 24px;
    }

    span {
      color: silver;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    }

    &.error-msg {
      font-family: math;
      font-family: monospace;
      color: rgb(222, 83, 83);
    }
  }
}

.btn-wrapper {
  position: relative;
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: rgb(65, 65, 65);
  background: url(./bg.jpg);
  padding-inline: 20px;

  @media (max-width: 767px) {
    flex-direction: column;

    button {
      width: 100%;
    }
  }

  * {
    z-index: 5;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.6);
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    border: none;
    background-color: transparent;
    border: 1px solid silver;
    padding: 8px 14px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    color: silver;
    box-shadow: 1px 3px 8px 0px rgb(53, 53, 53);
    transition:
      color 0.4s ease,
      background-color 0.4s ease,
      box-shadow 0.4s ease,
      border 0.4s ease;

    &:hover {
      box-shadow: 2px 4px 15px 4px rgb(53, 53, 53);

      &.exam {
        background-color: rgb(47, 67, 52);
        color: rgb(113, 176, 152);
        border-color: rgb(47, 67, 52);
      }

      &.recharge {
        background-color: rgb(67, 47, 47);
        color: rgb(176, 113, 113);
        border-color: rgb(67, 47, 47);
      }

      &.fuel {
        background-color: rgb(47, 55, 67);
        color: rgb(113, 141, 176);
        border-color: rgb(47, 55, 67);
      }

      &.exchange {
        background-color: rgb(61, 67, 47);
        color: rgb(154, 176, 113);
        border-color: rgb(61, 67, 47);
      }
    }

    /* i {
      margin-right: 4px;
    } */
  }
}
